!!!
%html
  %head
    %title TylerTest
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav
      = link_to "Feed", :statuses
      = link_to "Locations", :locations
      = link_to "Users", :users
      - if current_user
        %strong= link_to "Post", [:new, :status]
        = link_to current_user.name, current_user
        = link_to "Sign Out", [:destroy, :user, :session], method: :delete
      - else
        = link_to "Sign Up", [:new, :user, :registration]
        = link_to "Sign In", [:new, :user, :session]
    = yield
